@import '../../css/base.scss';

.wrapper {
  position: relative;
  font-family: 'Segoe UI' sans-serif;
  font-size: 13px;
  color: $colorBlack;
}

.inputUnderline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0 solid transparent;
  border-width: 0 0 2px;
  pointer-events: none;
  transform: scaleX(0.6) scaleY(0);
  transform-origin: center bottom;
  transition: all 150ms linear;
}

.input {
  width: 100%;
  padding: 9px 14px;
  border: 1px solid $colorLightGray;
  border-radius: 1px;
  box-sizing: border-box;
  line-height: 25px;
  transition: border 200ms;

  &:hover {
    border-color: $colorGray;
  }

  &::placeholder {
    color: $colorGray;
  }

  &:focus {
    outline: none;
    border-color: $colorLightGray;
  }

  &:focus + .inputUnderline {
    transform: none;
    border-color: $colorBlue;
  }

  &:focus::placeholder {
    color: $colorLightGray;
    transition: color 0.2s;
  }
}



