@import '../../css/base.scss';

.startPage {
  width: 100%;
  box-sizing: border-box;
}

.searchWrapper {
  display: flex;
  max-width: 500px;
  margin: 0 auto 30px auto;
  justify-content: space-between;
  align-items: center;
}

.searchButton {
  @include resetBtn;

  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  outline: none;
  text-decoration: none;
  font-size: 11px;
  color: $colorWhite;
  background-color: $colorBlue;
  border-radius: 1px;


}